
/*------------------------------HEADER-----------------------------------*/
header{
    margin-bottom: 30px;
}

header h1{
    color: hsl(300, 43%, 22%);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 64px 30px 64px;
}

header p{
    color: hsl(303, 10%, 53%);
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 28px 0 28px;
}