nav,
    .offcanvas {
      background-color: hsl(300, 43%, 22%);
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: hsl(300, 43%, 22%)0;
      }
    }