.menu ul{
    margin: 20px;
    padding: 20px;
    background-color: hsl(300, 41%, 34%);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}
