/*------------------------------STARS-----------------------------------*/

.stars{
    background-color: hsl(300, 19%, 81%);
    border-radius: 4px;
    margin: 8px 0;
    width: 330px;
    height: 80px;
    padding: 15px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stars .fivestars{
    min-width: 110px;
}

.stars .text{
    min-width: 240px;
    text-align: center;
}